@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chica Gogo';
  src: url('../../public/fonts/Chiga-Gogo-NF.woff2') format('woff2');
}

@layer base {
  input[type='password']:not(:placeholder-shown) {
    font-family: Verdana;
    letter-spacing: 0.125em;
  }

  /* Hide arrows in input number field */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
